<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="formPage">
    <h1><%= title %></h1>
    <form method="POST" action="/form">
      <label for="fname">NAME</label>
      <input type="text" id="fname" name="fname" />
      <label for="message">MESSAGE</label>
      <input type="text" id="message" name="message" />
      <button>Submit</button>
    </form>
  </body>
</html>
